# 1. Working with operating system

## 1.1. Directory
The absolute path begins from the root folder. The relative path begins from the working folder.

In [1]:
# absolute path
'E:/Documents/Data Science/Python/Notes/data/anscombe.xlsx'

'E:/Documents/Data Science/Python/Notes/data/anscombe.xlsx'

In [2]:
# relative path
'data/anscombe.xlsx'

'data/anscombe.xlsx'

In [3]:
# the parent folder
'..'

'..'

## 1.2. Opearting system

In [2]:
import os
from sspipe import p as f, px as p

The <code style='font-size:13px;'>os.listdir()</code> function returns all files and folders in the given folder. If no folders was passed, it takes the current folder as default.

In [6]:
os.listdir('image')[:10]

['confusion_matrix.png',
 'cross_validation.png',
 'matplotlib_color_names.png',
 'svm_kernel.png',
 'goodness_of_fit.png',
 'matrix_factorization.png',
 'lexical.png',
 'mean_shift.gif',
 '0_raw_image.pptx',
 'dbscan.gif']

In [5]:
sorted(os.listdir())[:10]

['.DS_Store',
 '.git',
 '.gitignore',
 '.ipynb_checkpoints',
 '.virtual_documents',
 '01. [python] Basic Concepts.ipynb',
 '02. [python] Data Types.ipynb',
 '03. [python] Data Structures.ipynb',
 '04. [python] Objects and Functions.ipynb',
 '06. [python] External Sources.ipynb']

In [7]:
os.listdir('..')

['Google_S2T.ipynb',
 '.DS_Store',
 'Python',
 'Untitled.ipynb',
 'ner_solution.ipynb',
 'Projects',
 'Project Euler.ipynb',
 'R',
 'Others',
 'AI Academy']

In [8]:
# automatically creat path using suitable slashes
os.path.join('data', 'anscombe.xlsx')

'data/anscombe.xlsx'

In [9]:
# convert a relative path to the absolute path
os.path.abspath('data')

'/Users/hungpq/Documents/Data Science/Jupyter/Python/data'

In [10]:
# check whether a path exists
os.path.isdir(r'data/anaconda')

False

### Renaming files

In [2]:
def order_add_1(start):
    import os, re
    for nameOld in os.listdir():
        try:
            indexOld = int(re.findall('\d+', nameOld)[0])
        except:
            indexOld = 0
        if indexOld >= start:
            indexNew = (indexOld + 1)
            indexNew = f'{indexNew:0>2}'

            nameNew = re.sub('\d+', indexNew, nameOld)
            os.rename(nameOld, nameNew)

order_add_1(37)

# 2. Connecting to SQL

## 2.1. SQL Server
The <code style='font-size:13px;'>pyodbc</code> library is used to connect to SQL Server.

In [ ]:
import pandas as pd
import pyodbc

### Connecting
For local database, use a trusted connection. Otherwise, provide username and password.

In [ ]:
# local database information
driver = 'SQL Server Native Client 11.0'
server = ''
database = ''

# connect
connect = pyodbc.connect(
    f'Driver={{{driver}}};'
    f'Server={server};'
    f'Database={database};'
    f'Trusted_Connection=yes;'
)
cursor = connect.cursor()

In [ ]:
# database with username and password
driver = 'SQL Server'
server = '116.118.119.204,8433'
database = 'PMS_CON'
username = 'aivn_dbuser'
password = 'ai@lgp2020'

# connect
connect = pyodbc.connect(
    f'Driver={{{driver}}};'
    f'Server={server};'
    f'Database={database};'
    f'UID={username};'
    f'PWD={password};'
)
cursor = connect.cursor()

### Listing all tables

In [ ]:
cursor.execute('''
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'dbo'
''')

[table[0] for table in cursor.fetchall()]

### Running a query

In [ ]:
query = '''
SELECT TOP 5 *
FROM PROJECT_BUDGET_ADJ
'''

pd.read_sql_query(query, connect)

### Reading an entire table

In [ ]:
table = ''

pd.read_sql_query(f'SELECT * FROM {table}', connect)

## 2. Postgre SQL
The <code style='font-size:13px;'>psycopg2</code> library is used to connect to Postgre SQL.

### Connecting

In [ ]:
import pandas as pd
import psycopg2

In [ ]:
# database information
host = '101.96.116.82'
port = '8182'
database = 'tintuc_haisan'
username = 'mp_quantri'
password = 'asdaw@23423das'

# connect
connect = psycopg2.connect(host=host, port=port, dbname=database, user=username, password=password)
cursor = connect.cursor()

### Listing all tables

In [ ]:
cursor.execute('''
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
AND table_name != 'user'
''')

[table[0] for table in cursor.fetchall()]

### Running a query

In [ ]:
query = '''
SELECT *
FROM bow
LIMIT 5
'''

pd.read_sql_query(query, connect)

### Reading an entire table

In [ ]:
table = ''

pd.read_sql_query(f'SELECT * FROM {table}', connect)

# 3. Connecting to APIs
This section demonstrates the usage of [Clash Royal API](https://developer.clashroyale.com/#/documentation).
- Go to the Clash Royale API site and register an account.
- Find the device's *public IP address* by searching for "my ip" or "what is my ip" on Google. It is sometimes called *external IP*, and should not be confused with *local/internal IP*. Another way is to run <code style='font-size:13px;'>curl ifconfig.me</code> on either a macOS terminal or a Windows terminal.
- Open account settings and create a new key, using the *public IP* found earlier. This is the method Clash Royale API uses for authorizing the requests. After finished, copy the *token* associated with the key.
- Use Python's <code style='font-size:13px;'>requests</code> library to connect to the API and get response data.

In [1]:
!curl ifconfig.me

113.190.6.123

In [2]:
import numpy as np
import pandas as pd
import requests
import json
pd.options.display.max_rows = 200

In [4]:
url = 'https://api.clashroyale.com/v1/players/%232082RVQQ'
token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjI2MjRiOWZjLTJlYTctNDMwZi04NGQwLTMwODliNDVkZDc1ZSIsImlhdCI6MTY1MDcyMjk5OSwic3ViIjoiZGV2ZWxvcGVyLzI5OWUwODM3LTlmZTctNjJhNC01ODU1LTFlOWE4MjJmM2IxNyIsInNjb3BlcyI6WyJyb3lhbGUiXSwibGltaXRzIjpbeyJ0aWVyIjoiZGV2ZWxvcGVyL3NpbHZlciIsInR5cGUiOiJ0aHJvdHRsaW5nIn0seyJjaWRycyI6WyIxMTMuMTkwLjYuMTIzIl0sInR5cGUiOiJjbGllbnQifV19.3TtTpu0F3CT1__2WYwZuAiKmxXxfs1xWZShZpDS05WjXTJ-kphuCwjOc2g7C6qOcjw4KedfJ8kCJozC63k5EQQ'

headers = {
    'Accept': 'application/json',
    'Authorization': f'Bearer {token}'}

response = requests.get(url=url, headers=headers)
response = response.json()
data = response['cards']
data = {i: data[i] for i in range(len(data))}

In [5]:
dfUpgrade = pd.DataFrame({
    'level': range(1, 15),
    'Common': [0, 2, 4, 10, 20, 50, 100, 200, 400, 800, 1000, 1500, 3000, 5000],
    'Rare': [-1]*2 + [0, 2, 4, 10, 20, 50, 100, 200, 400, 500, 750, 1250],
    'Epic': [-1]*5 + [0, 2, 4, 10, 20, 40, 50, 100, 200],
    'Legendary': [-1]*8 + [0, 2, 4, 6, 10, 20],
    'Champion': [-1]*10 + [0, 2, 8, 20]
})
dfUpgrade = dfUpgrade.melt(id_vars='level', var_name='rarity', value_name='cost')
dfUpgrade = dfUpgrade.query("cost != -1")
dfUpgrade['consumed'] = dfUpgrade.groupby('rarity').cost.cumsum()

dfMax = dfUpgrade.query('level == 14')
dfMax = dfMax[['rarity', 'consumed']]
dfMax = dfMax.rename(columns={'consumed': 'target'})

In [6]:
mapLevelRarity = {14: 'Common', 12: 'Rare', 9: 'Epic', 6: 'Legendary', 4: 'Champion'}

df = pd.DataFrame.from_dict(data, orient='index')
df = df.assign(rarity=df.maxLevel.map(mapLevelRarity))
df = df.assign(starLevel=df.starLevel.fillna(0).astype(int))
df = df.assign(level=df.level+14-df.maxLevel)
df = df[['rarity', 'name', 'level', 'count']]

df = df.merge(dfUpgrade.drop(columns=['cost']), on=['rarity', 'level'])
df = df.merge(dfMax, on='rarity')
df = df.eval('collected = count + consumed')
df = df.eval('required = target - collected')

df = df.assign(rarity=pd.Categorical(df.rarity, categories=['Common', 'Rare', 'Epic', 'Legendary', 'Champion']))
df = df.sort_values(by=['rarity', 'level', 'count']).reset_index(drop=True)

df.head()

,rarity,name,level,count,consumed,target,collected,required
0,Common,Tesla,13,3706,7086,12086,10792,1294
1,Common,Firecracker,13,3800,7086,12086,10886,1200
2,Common,Royal Delivery,13,4103,7086,12086,11189,897
3,Common,Giant Snowball,13,4362,7086,12086,11448,638
4,Common,Skeleton Barrel,13,4402,7086,12086,11488,598

In [7]:
dfRequired = df.groupby('rarity').required.sum().reset_index()

dfProgress = df.groupby('rarity')[['collected', 'target']].sum().reset_index()
dfProgress = dfProgress.eval('progress = collected / target')
dfProgress = dfProgress[['rarity', 'progress']]

dfMeanCount = df.groupby('rarity').collected.mean().astype(int).reset_index()
dfMeanCount = dfMeanCount.merge(dfUpgrade.query('level==13'), on='rarity')
dfMeanCount = dfMeanCount.eval('meanCount = collected - consumed')
dfMeanCount = dfMeanCount[['rarity', 'meanCount']]

dfSummary = dfRequired.merge(dfProgress, on='rarity', how='left')
dfSummary = dfSummary.merge(dfMeanCount, on='rarity', how='left')
dfSummary['progress'] = dfSummary.progress.map(lambda x: f'{x:.2%}')
dfSummary

      rarity  required progress  meanCount
0     Common      6584   98.05%       4764
1       Rare      2015   97.81%       1178
2       Epic         0  100.00%        200
3  Legendary         0  100.00%         20
4   Champion        27   77.50%         13

---
*&#9829; By Quang Hung x Thuy Linh &#9829;*